src/Tests/Rhyous.EntityAnywhere.Tests.Api/Connected Services/CoreActivation/ActivationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://svc.landesk.com/entitlementservice/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivationService" targetNamespace="https://svc.landesk.com/entitlementservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ActivationServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://svc.landesk.com/entitlementservice/Imports">
      <xsd:import schemaLocation="https://portal.ivanti.com/EntitlementServices/ActivationService.svc?xsd=xsd0" namespace="https://svc.landesk.com/entitlementservice/" />
      <xsd:import schemaLocation="https://portal.ivanti.com/EntitlementServices/ActivationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ActivationServiceContract_ActivateLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLicense" />
  </wsdl:message>
  <wsdl:message name="ActivationServiceContract_ActivateLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ActivationServiceContract_GetAuthorizationInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationInformation" />
  </wsdl:message>
  <wsdl:message name="ActivationServiceContract_GetAuthorizationInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizationInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivationServiceContract">
    <wsdl:operation name="ActivateLicense">
      <wsdl:input wsaw:Action="https://svc.landesk.com/entitlementservice/ActivationServiceContract/ActivateLicenseRequest" message="tns:ActivationServiceContract_ActivateLicense_InputMessage" />
      <wsdl:output wsaw:Action="https://svc.landesk.com/entitlementservice/ActivationServiceContract/ActivateLicenseResponse" message="tns:ActivationServiceContract_ActivateLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationInformation">
      <wsdl:input wsaw:Action="https://svc.landesk.com/entitlementservice/ActivationServiceContract/GetAuthorizationInformationRequest" message="tns:ActivationServiceContract_GetAuthorizationInformation_InputMessage" />
      <wsdl:output wsaw:Action="https://svc.landesk.com/entitlementservice/ActivationServiceContract/GetAuthorizationInformationResponse" message="tns:ActivationServiceContract_GetAuthorizationInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ActivationServiceContract" type="tns:ActivationServiceContract">
    <wsp:PolicyReference URI="#WSHttpBinding_ActivationServiceContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateLicense">
      <soap12:operation soapAction="https://svc.landesk.com/entitlementservice/ActivationServiceContract/ActivateLicenseRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationInformation">
      <soap12:operation soapAction="https://svc.landesk.com/entitlementservice/ActivationServiceContract/GetAuthorizationInformationRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivationService">
    <wsdl:port name="WSHttpBinding_ActivationServiceContract" binding="tns:WSHttpBinding_ActivationServiceContract">
      <soap12:address location="https://portal.ivanti.com/EntitlementServices/ActivationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://portal.ivanti.com/EntitlementServices/ActivationService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>